@import url('./fonts/fonts.css');

@import url('./colors/colors.css');

.font-title { font-family: var(--font-main); }
.font-text { font-family: var(--font-text); }

.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }   
.fw-700 { font-weight: 700; }

.accent-color { background-color: var(--accent-color); }

.secondary-color{ background-color: var(--secondary-color); }

.light-color { background-color: var(--light-color); }